body{
	font-size: 16px;
	font-family: Verdana;
}

.navbar {
	margin-bottom: 0;
	padding-bottom: 0;
}

#navbar div div ul li a{
	color: white;
}

#masthead {
	background-color: #ee5c21;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
}

#header{
	background-color: #ffffff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

#showcase{
	background-color: #ee5c21;
	padding-top: 20px;
}

#showcase div iframe{
	padding-bottom: 20px;
}

#sidebar{
	background-color:#ee5c21;
}

#sidebar h5{
	text-align: center;
	padding-bottom:20px;
	padding-top:20px;
	color:#ffffff;
	background-color: #d34f1b;
}

#sidebar ul{
	background-color: #d34f1b;
}

#sidebar ul li{
	padding-bottom: 10px;
	color: white;
}

#sidebar ul li a{
	color:white;
	font-size: 12px;
}

#logo{
	padding-bottom: 10px;
}